@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

:root {
  --main: #26aaaa;
  --bg-color: #0e1216;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

/* Start of navbar */

.navbar {
  background-color: var(--bg-color);
  padding-left: 128px;
  padding-right: 128px;
}
.navbar .navbar-brand {
  font-size: 25px;
  font-weight: bold;
}
.navbar a {
  color: white;
}

.navbar .ul-words li a {
  padding: 0 !important;
  margin-right: 20px;
  transition: all 350ms ease;

  font-size: 16px;
  font-weight: 300;
}
.navbar .ul-words li .last-child {
  margin-right: 29px;
}
.navbar .ul-words li a:hover {
  color: var(--main);
}

.navbar .ul-icons li img {
  padding: 0 !important;
  margin-right: 16px;
  cursor: pointer;
}

/* End of navbar */

/* sections */

/* Start of genral sections styles */

.section-container {
  color: var(--main);
  padding: 95px 6%;
}

.section-container__button {
  border-radius: 20px;
  margin-top: 13px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  -webkit-transition: all 325ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 325ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.section-container__button:hover {
  text-decoration: none;
  color: white;
  background: rgb(16, 13, 57);
  background: -moz-linear-gradient(
    35deg,
    rgba(16, 13, 57, 1) 0%,
    rgba(38, 170, 170, 1) 100%
  );
  background: -webkit-linear-gradient(
    35deg,
    rgba(16, 13, 57, 1) 0%,
    rgba(38, 170, 170, 1) 100%
  );
  background: linear-gradient(
    35deg,
    rgba(16, 13, 57, 1) 0%,
    rgba(38, 170, 170, 1) 100%
  );
  transform: scale(1.03);
}

/* End of genral sections styles */

/* Start of hero section */

.hero-section {
  height: 115vh;
  padding-top: 101px;
  padding-bottom: 128px;
}

.hero-section__header {
  margin-bottom: 50px;
}

.hero-section__header__img {
  width: 215px;
}

.hero-section__header__h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 14px;
}

.hero-section__header__p {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
}

.hero-section__buttons__button {
  background: none;
  border: 1px solid var(--main);
  color: var(--main);
  padding: 15px 38px;
}

.hero-section__buttons__button--first {
  background-color: var(--main);
  margin-bottom: 25px;
  color: white;
}

/* End of hero section */

/* Start of Tokenmics */
.tokenomics-container {
  padding: 64px 128px 121px 128px;
  background-color: #1a1f27;
  color: white;
}
.tokenmocis-data-inner {
  margin-bottom: 28px;
}
.tokenmocis-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 26px;
}
.tokenmocis-data-inner {
  border: 1px solid var(--main);
  padding: 20px 0px 20px 75px;
}
.tokenmocis-data-inner-title {
  margin-bottom: 11px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
.tokenmocis-data-inner span {
  line-height: 24px;
  font-weight: 300;
  font-size: 14px;
}
/* End of Tokenmics */

/* Start of timeline section */

.timeline-section {
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.timeline-section-wraper {
  max-width: 1400px;
}

.timeline-section__header__h1 {
  font-size: 32px;
  font-weight: 700;
}

.timeline-section__header__p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 60px;
}

.timeline-section__header__buttons__a {
  background: white;
  color: black;
  padding: 15px 50px;
}

.timeline-section__list {
  background-color: #111820;
  padding: 20px;
  margin-top: 120px;
  max-width: 850px;
  border: 2px solid var(--main);
}

.timeline-section__list__h1 {
  color: var(--main);
  font-size: 60px;
  font-weight: 700;
}

.timeline-section__list__ul {
  list-style-type: none;
}

.timeline-section__list__ul__li {
  display: flex;
  margin-top: 80px;
}

.timeline-section__list__ul__li__p {
  color: var(--main);
  font-size: 26px;
  font-weight: 700;
  margin-right: 20px;
}

.timeline-section__list__ul__li__div {
  margin-top: 8px;
}

.timeline-section__list__ul__li__div__h3 {
  font-size: 22px;
  font-weight: 700;
}

.timeline-section__list__ul__li__div__p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}

/* End of timeline section */

/* Start of info section */
.info-container {
  background-color: #1a1f27;
  color: white;
  padding: 53px 0px 70px 0px;
}
.info-title {
  font-style: 35px;
  font-weight: 700;
  margin-bottom: 5px;
}
.info-pargraph {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 23px;
}
.info-link {
  color: var(--main);
  text-decoration: underline;
  font-weight: bold;
}
.info-section__button {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 35px;
}
/* End of info section */
